body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
}

header div{
    background-color: #1A46E5;
    border-radius: 100%;
}

.header-circle{
    position: absolute;
    width: 195px;
    height: 195px;
    left: -48px;
    top: 26px;
}
.header-circle1{
    position: absolute;
    width: 97px;
    height: 97px;
    left: 162px;
    top: 16px;
}
.header-circle2{
    position: absolute;
    width: 335px;
    height: 335px;
    left: 1004px;
    top: -222px;
}
.header-circle3{
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1314px;
    top: 99px;
}
.header-title{
    position: absolute;
    width: 368px;
    height: 90px;
    left: 536px;
}
.card{
    position: absolute;
    width: 467px;
    height: 582px;
    left: 182px;
    top: 269px;

    background: #43D8C9;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}
.card1{
    position: absolute;
    width: 467px;
    height: 582px;
    left: 791px;
    top: 269px;

    background: #FFBD11;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}
.card-title{
    position: absolute;
    top: 30px;
    height: 54px;
    left: 165px;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin: 0px;
}
.card-percent{
    position: absolute;
    width: 66px;
    height: 45px;
    left: 135px;
    top: 165px;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: #F7F7F7;
}
.card-hp{
    position: absolute;
    width: 215px;
    height: 50px;
    left: 60px;
    top: 215px;

    background: #1A46E5;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
}
.card-buttonContainer{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 310px;
    top: 160px;

    background: #000000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
}
.card-button{
    position: absolute;
    width: 120px;
    height: 120px;
    left: -6px;
    top: -7px;
    background: #1A46E5;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;



    color: #FFFFFF;
}
.card-img{
    position: absolute;
    width: 370px;
    height: 231px;
    left: 10px;
    top: 250px;

    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}
.card-img img{
    width: 188px;
    height: 200px;
    left: 935px;
    top: 588px;
    margin: 20px;
}
.owner{
    position: absolute;
    width: 260px;
    height: 36px;
    left: 931px;
    top: 880px;
    font-size: 24px;
    line-height: 36px;
}
.icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1110px;
    top: 818px;
}
.icon img{
    width: 50px;
    height: 50px;
}
.icon1{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1160px;
    top: 818px;
}


