/*Character----------Character*/

/*Variables*/

:root {
  --color-dark: #1C3D4B;
  --color-orange: #EB726B;
  --color-orange-dark: #F15A45;
  --color-red: #C42754;
  --color-red-light: #EF1841;
  --color-yello: #F9C28D;
  --color-blue-dark: #419DA1;
  --color-blue-ligh: #9BD3EA;
  --color--gray: #D4E0E6;
  --color-white: #FFFFFF;

}

/*Head*/
.head-container {
  position: absolute;
  top: 0;
  left: 25px;
}
.character-uno-head {
  @include position-character(50px, initial, initial, 125px, unset, 10);
  @include forms-character(40px, 60px, var(--color-yello), 50px);
}
.character-uno-eyebrow1 {
  @include position-character(69px, initial, initial, 139px, rotate(110deg), 11);
  @include forms-character(2.5px, 9px, var(--color-dark), 50px);
}
.character-uno-eyebrow2 {
  @include position-character(69px, initial, initial, 155px, rotate(70deg), 11);
  @include forms-character(2.5px, 9px, var(--color-dark), 50px);
}
.character-uno-eye1 {
  @include position-character(76px, initial, initial, 138px, unset, 11);
  @include forms-character(5px, 5px, var(--color-dark), 100%);
}
.character-uno-eye2 {
  @include position-character(76px, initial, initial, 155.3px, unset, 11);
  @include forms-character(5px, 5px, var(--color-dark), 100%);
}
.character-uno-mouth {
  @include position-character(82px, initial, initial, 128px, rotate(2deg), 11);
  @include forms-character(20px, 30px, var(--color-yello), 50px);
}
.character-uno-mouth-in {
  @include position-character(89.3px, initial, initial, 131px, rotate(2deg), 12);
  @include forms-character(13px, 20px, var(--color-dark), 50px);
}
.character-uno-tongue {
  @include position-character(101.3px, initial, initial, 131px, rotate(16deg), 13);
  @include forms-character(12px, 8px, var(--color-red), 100%);
}
.character-uno-teeth {
  @include position-character(89.3px, initial, initial, 130.9px, rotate(-16deg), 13);
  @include forms-character(13px, 12px, linear-gradient( var(--color-white) 50%, transparent 50%), 100%);
}
.character-uno-nose {
  @include position-character(76px, initial, initial, 143px, unset, 12);
  @include forms-character(12px, 16.5px, var(--color-orange), 50px);
}



/*Body*/

.character-uno-body {
  position: relative;
  z-index: 9;
  @include forms-character(50px, 50px, var(--color-orange-dark), 100%);
}
.character-uno-hip {
  @include position-character(96px, 135.5px, initial, initial, rotate(45deg), 8);
  @include forms-character(35px, 35px, var(--color-dark), 100%);
}
.character-uno-arm1 {
  &:after {
    content: " ";
    transform-origin: 100% 50%;
    @include position-character(1px, 16.7px, initial, initial, rotate(45deg), 0);
    @include forms-character(30px, 12px, var(--color-red-light), 0);
  }
  @include position-character(78px, initial, initial, 127px, unset, 0);
  @include forms-character(20px, 12px, var(--color-red-light), 0);

}

.character-uno-arm2 {
  @include position-character(97px, initial, initial, 182px, unset, 0);
  @include forms-character(25px, 12px, var(--color-red-light), 0);
}