/*Variables----------Variables*/

:root {
  /*Colores*/
  --color-primary:#1A46E5;
  --color-card-uno: #43D8C9;
  --color-card-dos: #FFBD11;
  --color-life: #FF89BB;
  --color-light: #FFF;
  --color-dark: #000;
}