/*Variables----------Variables*/

:root {
  /*Colores*/
  --color-primary:#1A46E5;
  --color-card-uno: #43D8C9;
  --color-card-dos: #FFBD11;
  --color-life: #FF89BB;
  --color-white: #FFF;
  --color-dark: #000;

  /*Character-1*/
  --color-dark-light: #1C3D4B;
  --colord-gray-dark: #2E6174;
  --color-orange: #EB726B;
  --color-orange-dark: #F15A45;
  --color-red: #C42754;
  --color-red-light: #EF1841;
  --color-pink: #F9C28D;

  /*Character-2*/
  --color-blue-dark: #0E3441;
  --colord-sky: #00B0AD;
  --color-sky-ligth: #419DA1;
  --color-blue-light: #A8D2E8;
  --color-blue-transp: #a8d2e88f;
  --color-gray: #D4E0E6;
  --color-yellow: #D6DF1F;

  /*Modal*/
  --color-overlay: rgba(0, 0, 0, 0.541);
  --color-gray-block: #797979;


}