.ButtonRight {

    position: absolute;
    width: 120px;
    height: 120px;
    left: 1092px;
    top: 413px;
    background: #000000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;

}

.ButtonRight__bd {

    width: 120px;
    height: 120px;
    left: 1090px;
    top: 407px;
    background: #1A46E5;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 40px;
    outline: none;

}