/* ------------------------------------------
code for the footer. Here we find social media
--------------------------------------------- */


.Footer {

    display: flex;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    width: 260px;
    height: 60px;
    left: 1000px;
    top: 933px;
    line-height: 36px;

}

.Footer a {

    color: #100303;
    text-decoration: none;

}

.social__github, .social__instagram, .social__twitter  {

    display: inline-block;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin: 0 10px;

} 

.social__github {

    background-image: url('../../assets/images/Github.svg');

}

.social__instagram {

    background-image: url('../../assets/images/Instagram.svg');

}


.social__twitter {

    background-image: url('../../assets/images/Twitter.svg');

}
