/* ------------------------------------------
code for the header and title.
--------------------------------------------- */


.text__1 {

    position: absolute;
    width: 252px;
    height: 54px;
    left: 740px;
    top: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 44px;
    color: #100303;

}

.text__2 {

    position: absolute;
    width: 140px;
    height: 54px;
    left: 780px;
    top: 210px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 44px;
    color: #000000;

}

.Modal {
    position: relative;
    width: 1000px;
    height: 610px;
    left: -262px;
    top: -280px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 1;    
    
}

.image__modal {

    position: absolute;
    width: 564px;
    height: 377px;
    left: 100px;
    top: 100px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

}

.modal__button {
    position: absolute;
    width: 274px;
    height: 58px;
    left: 690px;
    top: 310px;
    background: #1A46E5;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    font-weight: bold;
    font-size: 26px;
    line-height: 44px;
    color: #FFFFFF;

}