/* ------------------------------------------
code for the CardPlayer1.
--------------------------------------------- */


.PersonajeCard1 {

    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    width: 370px;
    height: 231px;
    left: 231px;
    top: 572px;

}