/* ------------------------------------------
code for the Player1: Main card and title.
--------------------------------------------- */


.Player__1 {

    background: #43D8C9;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    width: 467px;
    height: 582px;
    left: 182px;
    top: 269px; 

}

.Player1__title {

    color:  #FFFFFF;
    text-align: center;

}