.Player__1 {

    position: absolute;
    width: 467px;
    height: 582px;
    left: 182px;
    top: 269px; 
    background: #43D8C9;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    
}

.Player1__title {
    text-align: center;
    color:  #FFFFFF;
}