/* ------------------------------------------
code for the Player2: ProgressBar
--------------------------------------------- */

.ProgressBar2  {

    position: absolute;
    width: 208px;
    height: 50px;
    left: 355px;
    top: 50px;
    background: #1A46E5;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    z-index: 1;

}