body {
    margin: 0;
    padding-left: 0;
    border: 0;
    background: #E5E5E5
}

.ellipse {
    width: 10px;
    width: 60px;
    height: 36px;
    left: -230px;
    top: 933px;
    font-size: 24px;
    line-height: 36px
}

h1{
    display: block;
    position: absolute;
    width: 368px;
    height: 90px;
    left: 536px;
    top: 103px;
    font-family:Poppins;
    font-style: normal;
    font-size: 60px;
    line-height: 90px;


}
.container{
    text-align: center;
    width: 0px;
    height: 0px;
    left: 0px;
    top: 0px;
}

.player{
    position: center;;
}

#first-player{
    position: absolute;
    width: 467px;
    height: 582px;
    left: 182px;
    top: 269px;
    background: #43D8C9;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}


.player__card--title{
    text-align: center;
    height: 54px;
    left: 346px;
    top: 308px;
    font-size: 36px;
    line-height: 54px;
    color:  #FFFFFF;
}

.player_info-action{
    width: 215px;
    height: 50px;
    left: 231px;
    top: 465px;
    background: #1A46E5;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
}

.player_info-acction_life{
    width: 108px;
    height: 44px;
    left: 234px;
    top: 468px;
    background: #ff89bb;
    border-radius: 30px 0px 0px 30px ;
}

.player_info-acction_life_percentage span{
    width: 66px;
    height: 45px;
    left: 313px;
    top: 420px;
    font-size: 30px;
    line-height: 45px;
    color:  #F7f7f7;
}

.player_info-action_life_rect{
    width: 370px;
    height: 231px;
    left: 231px;
    top: 572px;
    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.player__info-action__play{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 481px;
    top: 407px;
    background:#1A46E5 ;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
}

.playeer_info-action_play--text{
    width: 81px;
    height: 54px;
    left: 502px;
    top: 440px;
    font-family:Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.player_image{
    position: relative;
    width: 2090px;
    height: 17700px;
    left: 520px;
    top: 599px;
}

#second-player{
    position: absolute;
    width: 467px;
    height: 582px;
    left: 791px;
    top: 269px;
    background: #FFBD11;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

footer {
    text-align: right;
    position: absolute;
    bottom: 0;
}

#container-footer-all{
    
}

