body {
  /* position: fixed; */
  background-image: url(../images/Web\ 1920\ –\ 1.png);
  background-size: cover;
}

:root {
  --main-black-color: #100303;
  --second-black-color:#000000;
  --main-purple-color:#1A46E5;
  --main-blue-color:#1A46E5;
  --main-yellow-color:#FFBD11;
  --main-green-color:#43D8C9;
  --main-pink-color:#FF89BB;
  --main-background-color:#E5E5E5;
  --main-white-color: #FFFFFF;
  --main-size: 12px;
  --main-size-36: 36px;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
}

header div {
  position: absolute;
  width: 368px;
  height: 90px;
  display: flex;
  align-items: center;
  /* left: 536px;
  right: 536px*/
  top: 103px;
}

header div p {
  margin: 0;
  color: var(--main-black-color);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.boxes {
  margin: 0;
  margin-top: 69px;
  border: 3px solid var(--second-black-color);
  height: 582px;
  width: 467px;
  box-sizing: border-box;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 120px 120px 210px;

}

.boxes:nth-child(1) {
  background: var(--main-green-color);
  top: 269px;
}

.boxes:nth-child(2) {
  background: var(--main-yellow-color);
  margin-left: 142px;
  left: 791px;
  top: 269;
}

.boxes-sections:nth-child(1) {
  grid-row-start: 0;
  grid-row-end: 1;
  display: flex;
}

.boxes-sections:nth-child(2) {
  height: 120px;
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 280px 180px;
  grid-gap: 2px;
}

.boxes-sections:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: -1;
  display: flex;
  justify-items: center;
  align-items: center;
}

.boxes-sections__image img {
  width: 188px;
  height: 200px;
}

.boxes-sections__image {
  border: 1px solid rebeccapurple;
  margin: 0;
  width: 370px;
  height: 231px;
  left: 840px;
  top: 572px;
  display: flex;
  justify-items: center;
  align-items: center;

  background: var(--main-white-color);
  border: 3px solid var(--second-black-color);
  box-sizing: border-box;
  border-radius: 20px;
}

.boxes-sections__button-play {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  right: 48px;
  background: var(--main-purple-color);
  display: flex;
  justify-content: center;
  align-content: center;
  border: 3px solid var(--second-black-color);
  box-shadow: 4px 6px 1px 0px var(--second-black-color);
}

.boxes-sections__state:nth-child(1) {
  display: grid;
  grid-template-rows: 60px 60px;
  grid-gap: 1px;
  width: 280px;
  height: 120px;
}

.boxes-life:nth-child(1) {
  grid-row: 1 2;
  display: flex;
  justify-content: center;
  align-content: center;
}

.boxes-life:nth-child(1) p {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  height: 45px;
  width: 66px;
}

.boxes-life:nth-child(2) {
  grid-row: 2 -1;
}

.blue-background {
  width: 215px;
  height: 50px;
  left: 231px;
  top: 465px;
  justify-items: center;
  align-items: center;
  background: var(--main-blue-color);
  border: 3px solid var(--second-black-color);
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
}

.pink-background {
  width: 13%;
  height: 44px;
  /* height: 40px; 8%*/
  /* height: 38px; 7%*/
  /* height: 38px; 6%*/
  /* height: 35px; 5%*/
  /* height: 30px; 4%*/
  /* height: 27px; 3%*/
  /* height: 25px; 2%*/
  /* height: 14px; 1%*/
  left: 234px;
  top: 468px;
  align-self: center;
  background: var(--main-pink-color);
  border-radius: 100px 0px 0px 100px;
  /* border-radius: 20px 0px 0px 20px; 9%*/
  /* border-radius: 30px 3px 3px 30px; 92%*/
  /* border-radius: 30px 5px 5px 30px; 93%*/
  /* border-radius: 30px 9px 9px 30px; 94%*/
  /* border-radius: 30px 12px 12px 30px; 95%*/
  /* border-radius: 30px 16px 16px 30px; 96%*/
  /* border-radius: 30px 18px 18px 30px; 97%*/
  /* border-radius: 30px 22px 22px 30px; 98%*/
  /* border-radius: 30px 29px 29px 30px; 99%*/
}

.boxes-sections__button-play p {
  justify-self: center;
  align-self: center;
  font-size: var(--main-size-36);
}

.boxes-sections__title {
  color: var(--main-white-color);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: var(--main-size-36);
  line-height: 54px;
  height: 54px;
  width: 150px;
  top: 308px;
  left: 346px;
  align-self: center;
  justify-content: center;
}

.boxes-sections__state div p {
  color: var(--main-white-color);
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  left: 931px;
}

.footer-comments {
  display: flex;
  padding-top: 40px;
  flex-direction: row;
  width: 473px;
  justify-content: flex-start;
}

.footer-comments a {
  width: 222px;
  height: 36px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: var(--main-black-color);
  text-decoration: none;
}

.footer-comments img {
  width: 40px;
}

.footer-comments img:nth-child(2) {
  padding-left: 35px;
}

.footer-comments img:nth-child(3) {
  padding-left: 18px;
}

.footer-comments img:nth-child(4) {
  padding-left: 18px;
  padding-right: 58px;
}

.footer-comments img:nth-child(2),
.footer-comments img:nth-child(3),
.footer-comments img:nth-child(4):hover {
  cursor: pointer;
}
