// #1A46E5 (azul)
// #43D8C9 (verde)
// #FFBD11 (amarillo)
// #FF89BB (rosado)
// #FFFFFF (blanco)
// #000000 (negro)

$base-blue: #1A46E5;
$base-green: #43D8C9;
$base-yellow: #FFBD11;
$base-pink: #FF89BB;
$base-white: #FFFFFF;
$base-black: #000000;
$base-grey: #BABABA;